@inject IJSRuntime JS

<button class="button" @onclick="GoBack">
    <svg class="svgIcon" viewBox="0 0 384 512">
        <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3
         32-32V141.l2L329 .4 ,246 .6 c +00 ,+00 ,.9,+00 ,.9,+00 ,
        s -.9 ,-20 .,9 ,-20 .
        ">
        </path>
    </svg>
</button>

@code {
    private async Task GoBack()
    {
        await JS.InvokeVoidAsync("history.back");
    }
}
